@fuente: "SpacePatrol", sans-serif; //fuente a utilizar, y en caso de error utilizara sans-serif
* { //quita lineas indeseadas
    margin: 0px;
    padding: 0px;
}
html,body { //color del background, fuente a utilizar y color de la fuente principal
    background-color: black;
    font-family: @fuente;
    color:cyan;
  }
input[type=number]::-webkit-inner-spin-button, //quita las flechas a los inputs tipo numero
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.link { //quita el estilo de hipervinculo a los links
    color: cyan;    
    text-decoration:none;
}
button{ //espacio alrededor del texto para que los botones luzcan mejor, tambien el puntero
    padding: 10px;
    font-family: @fuente;
    cursor: pointer;
}
/**********************************************
*************** FUENTES *******************
**********************************************/

@font-face {    
    font-family: "Aishiteru";    
    src: url("../fonts/aishiteru/Aishiteru.ttf") format("truetype");
}
@font-face {    
    font-family: "SpacePatrol";    
    src: url("../fonts/SpacePatrol/SpacePatrol.ttf") format("truetype");
}
/**********************************************/
/*Componentes (Elementos)*/
.particles{
    position: absolute; //fixed si lo quisieramos para toda la pagina
    width: 100%;
    z-index: 0; //necesario para mostrarlo por encima de los margenes y que se muevan las particulas con hover
}
.cajaNegra{ //caja peque negra
    padding: 5px;
    width: 50px;
    background-color: black;
    border:  1px solid cyan;
    color: cyan;
    text-align: center;
    font-size: 18px;
}
.btnTransparente, .caja, .cajapeque{
    background-color: transparent;
    border:  1px solid cyan;
    text-align: center;
    color: cyan;
    font-size: 18px;
}
.btnTransparente:hover, .caja:hover, .cajapeque:hover, .cajaNegra:hover{
    border: 1px solid cyan;
    color: black;
    background-color: cyan;
}
.container2{ //container comun
    display: flex;
    overflow-y: hidden; //eliminar scroll de animaciones AOS
    overflow-x: hidden; //ESTO ES IMPORTANTE PARA ELIMINAR EL SCROLL HORIZONTAL QUE SALE CON LAS ANIMACIONES
    justify-content: space-between;
    font-size: 18px;
    text-align: center;
}
h1{ //titulos
    font-size: 28px;
}
.vr{ //linea vertical
    border-left: 3px solid blueviolet;
}
.logoSombra{ //logo profesional con sombra, se aplica a imagenes
    width: 200px;
    height: auto;
    box-shadow: 10px 10px 15px rgb(82 82 82);
}
.primer{ //para los primeros elementos de los componentes que forman el homeComponent, deja espacio para el navigationBar
    padding-top: 150px;
}
input[type=text],input[type=password],input[type=number]{
    height: 35px;
    outline: none; //para quitar el resplandor cuando seleccionamos
    width: 100%;
    background-color: black;
    border: 1px solid cyan;
    color: cyan;
    padding: 0 5%;
    margin-bottom: 20px;
}

/*Componentes (Webs)*/
#navigationBarsComponent{
    background: linear-gradient( rgba(0,0,0,.7), rgba(0,0,0,.7) ), url(../img/systemStars.jpg) fixed center center no-repeat;
    position:absolute;
    width: -webkit-fill-available;
    padding: 0px 10% 0px 10%;
    .scrolled{ //para cambiar el color de la navigation bar cuando hacemos scroll
        background-color: darkslategray;
        transition: background 0.5s ease-in-out;
    }
    .topbar{
        font-size: 20px; 
        transition: background 0.5s ease-in-out; //para cuando cambiamos el background al hacer scroll, pero de vuelta al top
        display: flex;
        z-index: 2; //necesario para que se muestren por encima de particles(0) y container central(1)
        overflow-x: hidden;
        margin-left: -10%;
        padding-left: 10%;
        width: 99.5vw; //esto tambien es necesario para saltarnos la limitacion de width del elemento padre
        position: fixed;
        padding-top: 30px;
            a{
                z-index: 1; //necesario para que se muestren por encima de particles
            }
            .nav-item{
                padding: 0 15px;   
                padding-bottom: 0px;
                height: 70px;
                padding-top:15px;
                line-height: 80px;
                position: sticky;
                text-decoration:none;
                margin-left: 25px;
            }
            .nav-item:hover{
                color: #6fbaad; 
                border-bottom: 5px solid #6fbaad; 
            }
            .logo{
                width:40px;
                height:53px;
                padding-bottom:15px;
            }
        
    }
}
/****************************************************************/
#homeComponent{
    .container{
        z-index: 1; //necesario para que se muestre por encima de particles
        position:absolute;
        margin: 0px 40% 0px 30%;
        top: 250px;
        text-align: center;
        font-size: 30px; 
        p{
            font-size: 20px; 
            margin-bottom: 15px;
        }
    }
    .logo{
        width:240px; 
        height:318px;
    }
    
}
/****************************************************************/
#statsComponent{
    position: relative;
    margin-top:880px; //esta distancia con respecto a topbar es lo que ocupa particles
    margin-bottom:180px;
    height:260px;
    left:0;
    right:0;
    width: 99.5vw;/* <-- children as wide as the browser window (viewport) */
    margin-left: calc(-1 * ((100vw - 100%) / 2)); //esto tambien es necesario para saltarnos la limitacion de width del elemento padre
    .container2{
        background-color: darkblue;
        padding: 130px 0 130px 0;
        div{
            margin: 0 4%;
            hr{
                margin: 2% 0;
            }
        }
    }
}
/****************************************************************/
#whatComponent{
    position: relative;
    #containerQue{
        background-color:transparent;
        text-align: initial;
        div{
            max-width: 100%;
            padding-right: 15%;
        }
    }
    #lideres{
        padding: 3% 15%;
    }
}
/****************************************************************/
#usecasesComponent{
    .container2{
        display:initial;
    }
    .cajas{
        display:flex;
        margin: 0 4%;
        div{
            padding: 3%;
            width: 300px;
        }
    }
}
/****************************************************************/
#roadmapComponent{
    .vr{
        margin-left:40%;
        position: absolute;
        height: 1900px;
    }
    margin-top:50px;
    h1{
        text-align: center;
    }
    .paradaIzquierda, .paradaDerecha{
        padding: 20px 30px;
        position: relative;
        border-radius: 6px;
        background-color: darkblue;
        transition-duration: .5s;
        h1{
            text-align: initial;
        }
    }
    .paradaDerecha{
        margin-left:55%;
    }
    .paradaIzquierda{
        margin-right:55%;
    }
    .paradaIzquierda:hover, .paradaDerecha:hover{
        background-color: black;
        transition: background 0.5s ease-in-out;
    }
    .paradaDerecha::before, .paradaIzquierda::before{
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        border: medium solid #252931;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent darkblue;
        transition-duration: .5s;
    }
    .paradaDerecha::before{
        right: 100%;
        transform: rotate(180deg); //para que la flecha apunte hacia a la linea que esta a su izquierda
    }
    .paradaIzquierda::before{
        left: 100%;
    }
    .paradaDerecha::after, .paradaIzquierda::after{
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: darkblue;
        border: 8px solid darkblue;
        top: 0px;
        border-radius: 50%;
    }
    .paradaIzquierda::after{
        margin-left: 8%;
        left: 100%;
    }
    .paradaDerecha::after{
        margin-right: 8%;
        right: 100%;
    }
}
/****************************************************************/
#sponsorsComponent{
    margin:50px 0px;
    text-align: center;
    .container2{
        margin: 0 20%;
    }
}
/****************************************************************/
#footerComponent{
    position: relative;
    width: 99.5vw;
    margin-left: calc(-1 * ((100vw - 100%) / 2));
    right:0;
    left:0;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
    background: darkcyan;
    height: 260px;
    color: white;
    .cajaNegra{
        margin: 0 49%;
        position: absolute;
        top:-25px;
        cursor: pointer;
    }
    .container2{
        display: initial;
        .cajas{
            margin: 0 4%;
            .cajapeque{
                margin: 1%;
                font-size: 35px;
                padding: 5px 10px;
            }
        }
    }
    #copyright{
        background-color: white;
        color: black;
        margin-top: 40px;
        line-height: 60px;
        float: right;
        width: -webkit-fill-available;
    }
}
/****************************************************************/
#aboutComponent{
    width: 99.5vw;/* <-- children as wide as the browser window (viewport) */
    margin-left: calc(-1 * ((100vw - 100%) / 2)); //esto tambien es necesario para saltarnos la limitacion de width del elemento padre
    background-color: darkblue;
    .container{
        z-index: 1; //necesario para que se muestre por encima de particles
        position:absolute;
        margin: 0px 40% 0px 45%;
        top: 350px;
        text-align: center;
        font-size: 30px; 
        p{
            font-size: 20px; 
            margin-bottom: 15px;
        }
    }
    .container2{
        justify-content: initial;
        padding-bottom: 100px;
        div{
            width: 100%;
        }
        .izquierda{
            padding-left: 15%;
        }
        .derecha{
            padding-right: 15%;
        }
    }
    h1{
        margin: 30px 0px;
        text-align: center;
    }
    #primera{
        margin-top:940px; //esta distancia con respecto a topbar es lo que ocupa particles
    }
    .secciones{
        padding-top:30px;
        margin-bottom:30px;
    }
}
/****************************************************************/
#loginComponent{
    .container{
        z-index: 1;
        position:absolute;
        top: 350px;
        text-align: center;
        font-size: 30px;     
        margin: 0px 25%;
    }
}