@fuente: "SpacePatrol", sans-serif; //fuente a utilizar, y en caso de error utilizara sans-serif
* { //quita lineas indeseadas
    margin: 0px;
    padding: 0px;
}
html,body { //color del background, fuente a utilizar y color de la fuente principal
    background-color: black;
    font-family: @fuente;
    color:cyan;
  }
input[type=number]::-webkit-inner-spin-button, //quita las flechas a los inputs tipo numero
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.link { //quita el estilo de hipervinculo a los links
    color: cyan;    
    text-decoration:none;
}
button{ //espacio alrededor del texto para que los botones luzcan mejor, tambien el puntero
    padding: 10px;
    font-family: @fuente;
    cursor: pointer;
}
/**********************************************
*************** FUENTES *******************
**********************************************/

@font-face {    
    font-family: "Aishiteru";    
    src: url("../fonts/aishiteru/Aishiteru.ttf") format("truetype");
}
@font-face {    
    font-family: "SpacePatrol";    
    src: url("../fonts/SpacePatrol/SpacePatrol.ttf") format("truetype");
}
/**********************************************/
/*Componentes (Elementos)*/
.particles{
    position: fixed;
    width: 100%;
    z-index: -1;
}
.btnTransparente, .caja{
    background-color: transparent;
    border:  1px solid cyan;
    color: cyan;
    font-size: 18px;
}
.btnTransparente:hover, .caja:hover{
    border: cyan;
    color: black;
    background-color: cyan;
}
.container2{ //container comun
    display: flex;
    overflow-x: hidden; //ESTO ES IMPORTANTE PARA ELIMINAR EL SCROLL HORIZONTAL QUE SALE CON LAS ANIMACIONES
    justify-content: space-between;
    font-size: 18px;
    text-align: center;
    h1{
        font-size: 28px;
    }
}
/*Componentes (Webs)*/
#navigationBarsComponent{
    position:absolute;
    width: -webkit-fill-available;
    padding: 0px 10% 0px 10%;
    .topbar{
        z-index: -5;
        font-size: 20px; 
        display: flex;
        margin-top: 30px;
        margin-bottom:840px;
            .nav-item{
                padding: 0 15px;
                padding-bottom:15px;
                padding-top:15px;
                line-height: 80px;
                text-decoration:none;
                margin-left: 25px;
            }
            .nav-item:hover{
                color: #6fbaad; 
                border-bottom: 5px solid #6fbaad; 
            }
            .logo{
                width:40px;
                height:53px;
            }
        
    }
}
/****************************************************************/
#homeComponent{
    .container{
        position:absolute;
        margin: 0px 40% 0px 30%;
        top: 250px;
        text-align: center;
        font-size: 30px; 
        p{
            font-size: 20px; 
            margin-bottom: 15px;
        }
    }
    .logo{
        width:240px; 
        height:318px;
    }
    
}
/****************************************************************/
#statsComponent{
    position: relative;
    margin-bottom:180px;
    height:260px;
    left:0;
    right:0;
    width: 99.5vw;/* <-- children as wide as the browser window (viewport) */
    margin-left: calc(-1 * ((100vw - 100%) / 2)); //esto tambien es necesario para saltarnos la limitacion de width del elemento padre
    .container2{
        background-color: darkblue;
        padding: 130px 0 130px 0;
        div{
            margin: 0 4%;
            hr{
                margin: 2% 0;
            }
        }
    }
}
/****************************************************************/
#whatComponent{
    position: relative;
    #containerQue{
        background-color:transparent;
        text-align: initial;
        div{
            max-width: 100%;
            padding-right: 15%;
        }
    }
    #lideres{
        padding: 3% 15%;
    }
}
/****************************************************************/
#footerComponent{
    display: none; //de momento pa que no moleste
}